h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile_container {
  display: flex;
  width: 300px;
  flex-direction: column;
  border: 1.5px solid #000;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f3f0f0;
}

.profiles {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.avatar {
  border-radius: 50%;
  background-color: #050202c5;
}

.user_name {
  font-weight: bold;
}

.info_user {
  opacity: 0.6;
}

.list_statistic {
  display: flex;
  justify-content: space-between;
  background-color: #d3cece;
  border-top: 1.5px solid #686464;
  align-items: center;
}

.list_item_statistic {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.list_statistic .list_item_statistic:not(:last-child) {
  border-right: 1.5px solid #686464;
}

.result_statistic {
  font-weight: bold;
}
